.conteiner {
  background-color: rgb(255, 251, 0);
  padding: 10px;
  display: flex;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: rgb(0, 110, 255);
}
body {
  background: linear-gradient(90deg, #0c0cfa, #ff0000c9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sol {
  width: 60px;
  height: 60px;
  display: flex;
}
.vento {
  width: 35px;
}
.localisação {
  display: flex;
}
.localização {
  flex-direction: column;
}
.texto-medio {
  font-size: 20px;
  margin: 0;
}
.texto-grande {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.texto-pequeno{
    font-size: 20px;
    margin: 0;
}
.vento-sensacao{
  display: flex;
}
.uv{
  display: flex;
  gap: 5px;
}
.weak{
  font-size: 20px;
}